<nav class="navbar navbar-expand-md" style="background: #85bded;">
    <div class="container">
        <a href="./dashboard.html" class="navbar-brand mb-0 h1" style="color: white;">Restify</a>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#nav" aria-controls="nav" aria-label="Expand Navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-grow-0" id="nav">
          <ul class="navbar-nav my-2 my-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Stay</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <a href="accepteduser.html" class="dropdown-item">Upcoming Stays</a>
                </li>
                <li>
                  <a href="pendinguser.html" class="dropdown-item">Pending Requests</a>
                </li>
                <li>
                  <a href="pastuser.html" class="dropdown-item">Past Stays</a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Host</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <a href="./host.html" class="dropdown-item">Properties</a>
                </li>
                <li>
                  <a href="acceptedhost.html" class="dropdown-item">Upcoming Guests</a>
                </li>
                <li>
                  <a href="pendinghost.html" class="dropdown-item">Pending Guest Requests</a>
                </li>
                <li>
                  <a href="pasthost.html" class="dropdown-item">Past Guests</a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <a href="./profile.html" class="dropdown-item">Profile</a>
                </li>
                <li>
                  <a href="./notifications.html" class="dropdown-item">Notifications</a>
                </li>
                <li>
                  <a href="./index.html" class="dropdown-item">Log Out</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
    </div>
</nav>